<?php
declare(strict_types=1);

use Zend\ConfigAggregator\ConfigAggregator;

return [
    'debug' => true,
    ConfigAggregator::ENABLE_CACHE => false,
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'url' => 'postgres://user:pass@host/dbname', // Configure this...
                ],
            ],
        ],
    ],
];
